@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light-bulb {
  position: relative;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.bulb {
  width: 60px;
  height: 80px;
  background: #e5e5e5;
  border-radius: 50% 50% 40% 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.base {
  width: 30px;
  height: 40px;
  background: #666;
  border-radius: 5px;
  margin-top: 5px;
}

.filament {
  width: 20px;
  height: 10px;
  border: 3px solid #ffcc00;
  border-radius: 50%;
  position: relative;
  top: -10px;
  transition: 0.3s;
  opacity: 0;
}

.light-bulb.active .bulb {
  background: #fff78a;
  box-shadow: 0 0 40px rgba(255, 255, 150, 0.6);
}

.light-bulb.active .filament {
  opacity: 1;
  box-shadow: 0 0 10px #ffcc00;
}
